@use "variables";
@use "mixins";
@use "header";
@use "footer";


.contactPage{
  
    border-top:variables.$border;
    position: relative;}


.contact{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;

  &__title{
    font-weight: 600;
    @include mixins.laptop {
      font-size: 1.3rem;
      
   
   
   }
  }

 
    &__bg{
     width: 80vw;
     margin-left: 1rem;
     margin-top: 2rem;


     &__img{
        width: 100%;
        height: auto;

        @include mixins.laptop{
          width: 75%
        }
    

        @include mixins.desktop{
          width: 65%
        }
    

     }
    }


    &__info{
      padding: 2rem;

      @include mixins.laptop {
        font-size: 1rem;
        width: 80%;
        
     }

     @include mixins.desktop {
      font-size: 1rem;
      
   
   
   }
    }

    &__btn{
         @include mixins.buttons;

        &__link{
          color: variables.$secondary-color;
          text-decoration: none;
        }

        @include mixins.desktop{
        margin-top: 0.5rem;        }
    
    }

    
    &__btn:hover{
        background-color:variables.$red;


   
      }
}