@use "variables";
@use "mixins";

.header{
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

a:hover, a:focus, a:active {
  color:variables.$secondary-color;
}

 
.logo{
  position: relative;
  z-index: 200;


  @include mixins.tablet{
    margin-right: 75%;
  
  }


  @include mixins.laptop{
    margin-right: 85%;
  
  }

  @include mixins.desktop{
    margin-right: 85%;
  
  }

  &__first-letter{
    font-size: 1.8rem;
    color:variables.$red ;


    @include mixins.laptop {
      font-size: 1.5rem;  
          }
  }

  &__second-letter{
    font-size: 1.5rem;
    color:variables.$purple;

    @include mixins.laptop {
      font-size: 1.3rem;  
          }
      }
}



.menu-btn{
display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 399;
  transition: opacity .25s ease;

  &:hover {
    opacity: .7;
  }

.menuBtn{
  background:variables.$secondary-color;
  border: none;
  width: 2rem;
  height: 1.5px;
  transition:  all .35s ease;
  display: block;
  cursor: pointer;

  &:nth-of-type(2) {
    margin-top: 7px;
  }
  &:nth-of-type(3) {
    margin-top: 7px;
  }

  @include mixins.tablet{

    
    width: 2rem;
    height: 3px;

    &:nth-of-type(2) {
      margin-top: 9px;
    }

    &:nth-of-type(3) {
      margin-top: 9px;
    }

  }

  @include mixins.laptop{
  
    width: 1.5rem;
    height: 2px;
    &:nth-of-type(2) {
      margin-top: 9px;
    }
    &:nth-of-type(3) {
      margin-top: 11px;
    }
  
  
  }
  @include mixins.desktop{
  
    width: 2rem;
    height: 3px;
      
    &:nth-of-type(2) {
      margin-top: 11px;
    }
    &:nth-of-type(3) {
      margin-top: 13px;
    }
  
  
  }

 
 


}
}


.menu-btn__active{

  background-color:variables.$primary-color;


  .topLine{
    transform: translateY(12px) translateX(0) rotate(45deg);
    background: variables.$secondary-color;

  }

  .middleLine{

    opacity: 0;
    background:variables.$secondary-color;
  }


  .bottomLine{
    transform: translateY(-5px) translateX(0) rotate(-45deg);
    background:variables.$secondary-color;


    @include mixins.tablet{
      transform: translateY(-11px) translateX(0) rotate(-45deg);


    }

    @include mixins.laptop{
      transform: translateY(-11px) translateX(0) rotate(-45deg);


    }

    @include mixins.desktop{
      transform: translateY(-17px) translateX(0) rotate(-45deg);


    }

  }


}


.overlay{

  position: fixed;
  background: variables.$primary-color;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  z-index:50;
  visibility: hidden;
  overflow: hidden;

  
   @include mixins.laptop {
    height: auto;

   }

   @include mixins.desktop {
    height: auto;

   }

&__nav{

  position: relative;
  top: 220px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 400;
  text-align: center;

  
  @include mixins.tablet {
    top: 320px;

   
   }
   @include mixins.laptop {
    position: relative;
     top: 0;
    transform: translateY(0%); 
   }

   @include mixins.desktop {
    position: relative;
    top: 0;
    transform: translateY(0%); 
   }


  &__ul{

    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 


     @include mixins.laptop {
      display: flex;
      justify-content:space-evenly;
      width: 50%;
      margin-right: 2.5rem;
      margin-top: 0.2rem;
      font-size: 1rem;
      
     }
  
     @include mixins.desktop {
      display: flex;
      justify-content:space-evenly;
      width: 50%;
      margin-right: 2.5rem;
      margin-top: 0.2rem;
      font-size: 1rem;
     }

 

  }


  &__li{
    display: block;
    position: relative;
    opacity: 0;


  
  
     @include mixins.laptop {
      height: auto;

     }
  
     @include mixins.desktop {
      height: auto;

     }
  }


  &__links{

        position: relative;
        color: variables.$secondary-color;
        text-decoration: none;
        overflow: hidden;


        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
           left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 2px;
          background:variables.$secondary-color;
          transition: .35s;



        }
  }

}


  


}



.overlay__open{
  opacity: 1;
  visibility: visible;
  height: 100%;
  
  li {
    animation: fadeFromRight 1s ease forwards;
    animation-delay: .35s;
    &:nth-of-type(2) {
      animation-delay: .4s;
    }
    &:nth-of-type(3) {
      animation-delay: .45s;
    }
    &:nth-of-type(4) {
      animation-delay: .50s;
    }


    
@keyframes fadeIn {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

@keyframes fadeFromRight {
0% {
  opacity:0;
  left:60%;
}
100% {
  opacity: 1;
  left: 0;
}
}

  }


     @include mixins.laptop {
      height: auto;
      opacity: 1;
      visibility: visible;
     }
  
     @include mixins.desktop {
      height: auto;
      opacity: 1;
      visibility: visible;
     }
  
}















