
@use "variables";
@use "mixins";
@use "header";
@use "theme";
@use "about";
@use "projects";
@use "contact";
@use "footer"; 

*{
  padding:0;
  margin:0;
  box-sizing: border-box;

}

body, html{
  order:1px solid variables.$secondary-color;
  text-align: center;
  font-family: 'Roboto','Oxygen Mono', monospace,'Times New Roman', Times, sans-serif, serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 1rem;
}




html {
  font-size: 1rem;

  @include mixins.tablet {
    font-size: 1.5rem;
   }

   @include mixins.laptop {
font-size: 1.7rem;  
    }
    @include mixins.desktop {
      font-size: 2rem;  
          }

}


.mainPage{
  height: 100vh;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1.5rem;
  margin-top: 1rem;


  @include mixins.laptop {
    flex-direction: row-reverse;
    //margin-top: 5rem;
   }
  


  &__intro{

    &__text{
      height: 150px;
      width: 50vw;
      text-align: center;
      white-space: pre-line;
      margin-top: 1.5rem;
      font-weight: 400;

      
      @include mixins.tablet {
        
      
        }

      @include mixins.laptop {
        width: 35vw;
        margin-top: 1rem;
        padding: 0.1rem;
        font-size:0.8rem;
      
        }

        @include mixins.desktop {
          width: 35vw;
        margin-top: 2rem;
        padding: 0.5rem;
        margin-left: 0.5rem;
          }

    }


    &__text::after {
      content: '|';
      animation: blink 0.9s infinite;
      
      color:variables.$purple;
    }

    
    @keyframes blink {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

  
  &__hero{

    width: 80vw;
    margin-left: 2rem;

  

    
    &__img{
    width: 100%;
    height: auto;

   
    @include mixins.laptop {
      margin-top: -50px;
      margin-left: 0;
      width: 100%;
    
      }
      @include mixins.desktop {
        width: 100%;
       // margin-top: -20px;
        margin-left: 0;
      
        }

    }




  }


  &__moreInfo__btn{

    @include mixins.buttons;

        @include mixins.laptop {
          font-size: 0.8rem;
         margin-top: 0;
         margin-left: 1rem;
         padding: 0.3rem;
        
        }

        @include mixins.desktop {
          margin-left: 0.7rem;
          padding: 0.4rem;
         
         }


        
      &:hover{
      background-color:variables.$red;
      color: variables.$secondary-color;

}

      :active{
        color: variables.$secondary-color;
}
  }
}


  
